<a href="https://colab.research.google.com/github/bum3632/pdm13/blob/main/py-pandas/pandas_2_handling_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab



---

## [2] Handling DataFrame
- head()
- tail()
- describe()
- info()

In [2]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20210927', periods=6)
dates

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [5]:
# head()
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df.head(7)

                   A         B         C         D
2021-09-27 -2.109398  1.148560 -0.433787 -1.061523
2021-09-28 -1.151504 -0.309128 -0.320549 -1.260499
2021-09-29 -1.316030  0.326640  0.560517  1.915551
2021-09-30 -0.658513 -1.470793 -0.735181  1.267662
2021-10-01 -0.227859  0.464109  0.868542  0.091949
2021-10-02 -0.086846 -0.662293 -0.671160  0.986184

In [6]:
df.head(2)

                   A         B         C         D
2021-09-27 -2.109398  1.148560 -0.433787 -1.061523
2021-09-28 -1.151504 -0.309128 -0.320549 -1.260499

In [7]:
df.tail(3) #아래쪽에서 3개

                   A         B         C         D
2021-09-30 -0.658513 -1.470793 -0.735181  1.267662
2021-10-01 -0.227859  0.464109  0.868542  0.091949
2021-10-02 -0.086846 -0.662293 -0.671160  0.986184

In [8]:
# Display the index, columns, and the underlying NumPy data:
df.index

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2021-09-27 to 2021-10-02
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [11]:
# describe() shows a quick statistic summary of your data:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.925025 -0.083817 -0.121936  0.323221
std    0.757170  0.926990  0.672488  1.291989
min   -2.109398 -1.470793 -0.735181 -1.260499
25%   -1.274899 -0.574001 -0.611817 -0.773155
50%   -0.905009  0.008756 -0.377168  0.539067
75%   -0.335522  0.429741  0.340251  1.197292
max   -0.086846  1.148560  0.868542  1.915551

In [12]:
df.describe().T

   count      mean       std       min       25%       50%       75%       max
A    6.0 -0.925025  0.757170 -2.109398 -1.274899 -0.905009 -0.335522 -0.086846
B    6.0 -0.083817  0.926990 -1.470793 -0.574001  0.008756  0.429741  1.148560
C    6.0 -0.121936  0.672488 -0.735181 -0.611817 -0.377168  0.340251  0.868542
D    6.0  0.323221  1.291989 -1.260499 -0.773155  0.539067  1.197292  1.915551

In [13]:
df

                   A         B         C         D
2021-09-27 -2.109398  1.148560 -0.433787 -1.061523
2021-09-28 -1.151504 -0.309128 -0.320549 -1.260499
2021-09-29 -1.316030  0.326640  0.560517  1.915551
2021-09-30 -0.658513 -1.470793 -0.735181  1.267662
2021-10-01 -0.227859  0.464109  0.868542  0.091949
2021-10-02 -0.086846 -0.662293 -0.671160  0.986184

In [14]:
# Transposing your dataframe:
df.T

   2021-09-27  2021-09-28  2021-09-29  2021-09-30  2021-10-01  2021-10-02
A   -2.109398   -1.151504   -1.316030   -0.658513   -0.227859   -0.086846
B    1.148560   -0.309128    0.326640   -1.470793    0.464109   -0.662293
C   -0.433787   -0.320549    0.560517   -0.735181    0.868542   -0.671160
D   -1.061523   -1.260499    1.915551    1.267662    0.091949    0.986184

In [15]:
df.T.index

Index(['A', 'B', 'C', 'D'], dtype='object')

### Sorting

#### Sort by index
- sort_index(axis=0, ascending=False)
- sort_index(axis=1, ascending=False)

> Axis=0 Column-Wise Operation (수직으로)

> Axis=1 Row-Wise Operation (수평으로)

In [16]:
df

                   A         B         C         D
2021-09-27 -2.109398  1.148560 -0.433787 -1.061523
2021-09-28 -1.151504 -0.309128 -0.320549 -1.260499
2021-09-29 -1.316030  0.326640  0.560517  1.915551
2021-09-30 -0.658513 -1.470793 -0.735181  1.267662
2021-10-01 -0.227859  0.464109  0.868542  0.091949
2021-10-02 -0.086846 -0.662293 -0.671160  0.986184

In [18]:
# Sorting by an axis:
df, df.sort_index(axis=0, ascending=False)

(                   A         B         C         D
 2021-09-27 -2.109398  1.148560 -0.433787 -1.061523
 2021-09-28 -1.151504 -0.309128 -0.320549 -1.260499
 2021-09-29 -1.316030  0.326640  0.560517  1.915551
 2021-09-30 -0.658513 -1.470793 -0.735181  1.267662
 2021-10-01 -0.227859  0.464109  0.868542  0.091949
 2021-10-02 -0.086846 -0.662293 -0.671160  0.986184,
                    A         B         C         D
 2021-10-02 -0.086846 -0.662293 -0.671160  0.986184
 2021-10-01 -0.227859  0.464109  0.868542  0.091949
 2021-09-30 -0.658513 -1.470793 -0.735181  1.267662
 2021-09-29 -1.316030  0.326640  0.560517  1.915551
 2021-09-28 -1.151504 -0.309128 -0.320549 -1.260499
 2021-09-27 -2.109398  1.148560 -0.433787 -1.061523)

In [20]:
df,df.sort_index(axis=1)#, ascending=False)

(                   A         B         C         D
 2021-09-27 -2.109398  1.148560 -0.433787 -1.061523
 2021-09-28 -1.151504 -0.309128 -0.320549 -1.260499
 2021-09-29 -1.316030  0.326640  0.560517  1.915551
 2021-09-30 -0.658513 -1.470793 -0.735181  1.267662
 2021-10-01 -0.227859  0.464109  0.868542  0.091949
 2021-10-02 -0.086846 -0.662293 -0.671160  0.986184,
                    A         B         C         D
 2021-09-27 -2.109398  1.148560 -0.433787 -1.061523
 2021-09-28 -1.151504 -0.309128 -0.320549 -1.260499
 2021-09-29 -1.316030  0.326640  0.560517  1.915551
 2021-09-30 -0.658513 -1.470793 -0.735181  1.267662
 2021-10-01 -0.227859  0.464109  0.868542  0.091949
 2021-10-02 -0.086846 -0.662293 -0.671160  0.986184)

#### Sort by value
- sort_values(by='column')

In [21]:
# Sorting by values:
df,df.sort_values(by='B') #, ascending=False)

(                   A         B         C         D
 2021-09-27 -2.109398  1.148560 -0.433787 -1.061523
 2021-09-28 -1.151504 -0.309128 -0.320549 -1.260499
 2021-09-29 -1.316030  0.326640  0.560517  1.915551
 2021-09-30 -0.658513 -1.470793 -0.735181  1.267662
 2021-10-01 -0.227859  0.464109  0.868542  0.091949
 2021-10-02 -0.086846 -0.662293 -0.671160  0.986184,
                    A         B         C         D
 2021-09-30 -0.658513 -1.470793 -0.735181  1.267662
 2021-10-02 -0.086846 -0.662293 -0.671160  0.986184
 2021-09-28 -1.151504 -0.309128 -0.320549 -1.260499
 2021-09-29 -1.316030  0.326640  0.560517  1.915551
 2021-10-01 -0.227859  0.464109  0.868542  0.091949
 2021-09-27 -2.109398  1.148560 -0.433787 -1.061523)

## indexing and slicing of DataFrame

#### Selecting data by indexing and slicing
- indexing
- slicing

In [22]:
# Selecting a single column, which yields a Series
df['A']

2021-09-27   -2.109398
2021-09-28   -1.151504
2021-09-29   -1.316030
2021-09-30   -0.658513
2021-10-01   -0.227859
2021-10-02   -0.086846
Freq: D, Name: A, dtype: float64

In [23]:
# Selecting via [], which slices the rows.
df[0:3]

                   A         B         C         D
2021-09-27 -2.109398  1.148560 -0.433787 -1.061523
2021-09-28 -1.151504 -0.309128 -0.320549 -1.260499
2021-09-29 -1.316030  0.326640  0.560517  1.915551

In [25]:
df['20210927':'20211001'] # 인덱스가 아닌 값인 경우는 지정된 범위가 다 선택된다.

                   A         B         C         D
2021-09-27 -2.109398  1.148560 -0.433787 -1.061523
2021-09-28 -1.151504 -0.309128 -0.320549 -1.260499
2021-09-29 -1.316030  0.326640  0.560517  1.915551
2021-09-30 -0.658513 -1.470793 -0.735181  1.267662
2021-10-01 -0.227859  0.464109  0.868542  0.091949

#### Selecting data by label [중요!!]

> **loc, iloc**

In [26]:
df

                   A         B         C         D
2021-09-27 -2.109398  1.148560 -0.433787 -1.061523
2021-09-28 -1.151504 -0.309128 -0.320549 -1.260499
2021-09-29 -1.316030  0.326640  0.560517  1.915551
2021-09-30 -0.658513 -1.470793 -0.735181  1.267662
2021-10-01 -0.227859  0.464109  0.868542  0.091949
2021-10-02 -0.086846 -0.662293 -0.671160  0.986184

In [27]:
dates[0]

Timestamp('2021-09-27 00:00:00', freq='D')

In [28]:
df.loc[dates[0]]   # loc()

A   -2.109398
B    1.148560
C   -0.433787
D   -1.061523
Name: 2021-09-27 00:00:00, dtype: float64

In [29]:
# Selecting on a multi-axis by label:
df.loc[:,['A','B']]

                   A         B
2021-09-27 -2.109398  1.148560
2021-09-28 -1.151504 -0.309128
2021-09-29 -1.316030  0.326640
2021-09-30 -0.658513 -1.470793
2021-10-01 -0.227859  0.464109
2021-10-02 -0.086846 -0.662293

#### [DIY: 도전코딩]

> Select data for first two days AND column 3,4 from df using loc[].

In [31]:
# df.loc[0:2,['C','D']] #loc 함수에서는 정수 지정 불가 -> 그러므로 에러 발생
# df.loc['20210927':'20210928',['C','D']]
df.loc[dates[:2],['C','D']]

                   C         D
2021-09-27 -0.433787 -1.061523
2021-09-28 -0.320549 -1.260499

#### Selecting data by position (iloc())
- index 사용

In [32]:
df

                   A         B         C         D
2021-09-27 -2.109398  1.148560 -0.433787 -1.061523
2021-09-28 -1.151504 -0.309128 -0.320549 -1.260499
2021-09-29 -1.316030  0.326640  0.560517  1.915551
2021-09-30 -0.658513 -1.470793 -0.735181  1.267662
2021-10-01 -0.227859  0.464109  0.868542  0.091949
2021-10-02 -0.086846 -0.662293 -0.671160  0.986184

In [33]:
df.iloc[3]  # 결과는 차원축소형으로 표현됨.

A   -0.658513
B   -1.470793
C   -0.735181
D    1.267662
Name: 2021-09-30 00:00:00, dtype: float64

In [34]:
# [다시 도전]
# Select data for first two days AND comumn 3,4 from df.
# Use iloc
df.iloc[:2,2:4] # 2행 2열이라는 의미

                   C         D
2021-09-27 -0.433787 -1.061523
2021-09-28 -0.320549 -1.260499

In [35]:
# Select one item
df.iloc[1,1] # 인덱스는 0부터 시작이기에 1,1은 각각 두번째 행과 열의 값이 출력된다.

-0.3091279501216981

In [38]:
# [DIY: 다시 도전]
# Select data for first three days from df
# Your code
df.iloc[:3,:] # 레인지 인덱스로 되어있기 때문에 iloc 함수를 사용한다.

                   A         B         C         D
2021-09-27 -2.109398  1.148560 -0.433787 -1.061523
2021-09-28 -1.151504 -0.309128 -0.320549 -1.260499
2021-09-29 -1.316030  0.326640  0.560517  1.915551

#### Selecting data by Boolean indexing

In [45]:
df

                   A         B         C         D
2021-09-27 -2.109398  1.148560 -0.433787 -1.061523
2021-09-28 -1.151504 -0.309128 -0.320549 -1.260499
2021-09-29 -1.316030  0.326640  0.560517  1.915551
2021-09-30 -0.658513 -1.470793 -0.735181  1.267662
2021-10-01 -0.227859  0.464109  0.868542  0.091949
2021-10-02 -0.086846 -0.662293 -0.671160  0.986184

In [46]:
df > 0 # df.A > 0

                A      B      C      D
2021-09-27  False   True  False  False
2021-09-28  False  False  False  False
2021-09-29  False   True   True   True
2021-09-30  False  False  False   True
2021-10-01  False   True   True   True
2021-10-02  False  False  False   True

In [49]:
df[df.A > 0]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [48]:
df[df > 0]

             A         B         C         D
2021-09-27 NaN  1.148560       NaN       NaN
2021-09-28 NaN       NaN       NaN       NaN
2021-09-29 NaN  0.326640  0.560517  1.915551
2021-09-30 NaN       NaN       NaN  1.267662
2021-10-01 NaN  0.464109  0.868542  0.091949
2021-10-02 NaN       NaN       NaN  0.986184